#include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/keys.h>

/ {
    keymap {
        compatible = "zmk,keymap";

        default_layer {
            bindings = <
                &kp LSHIFT      &kp I           &kp UP          &kp R
                &lt 1 LCTRL     &kp LEFT        &kp DOWN        &kp RIGHT
                                                                &lt 2 LALT      &kp SPACE
            >;
        };

        layer1 {
            bindings = <
                &trans          &kp LC(BSLH)    &kp LC(D)       &kp LC(R)
                &trans          &kp LC(Z)       &kp LC(C)       &kp LC(V)
                                                                &lt 3 LALT      &kp DEL
            >;
        };

        layer2 {
            bindings = <
                &trans          &kp LA(H)       &kp LA(W)       &kp LA(V)
                &trans          &kp LA(A)       &kp LA(S)       &kp LA(D)
                                                                &trans          &kp SPACE
            >;
        };

        layer3 {
            bindings = <
                &none           &bt BT_SEL 0    &bt BT_SEL 1    &bt BT_SEL 2
                &none           &none           &none           &bt BT_CLR
                                                                &none           &bootloader
            >;
        };
    };
};